.product-image {
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

#products-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

.card order-summary-card {
  height: 100%;
  width: 100%;
}

.bi-cart3 {
  -webkit-text-stroke: 0.5px currentColor;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.cart-product-image {
  width: 60px;
  flex-shrink: 0;
}

.cart-product-image img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin: 0;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart-product-description {
  font-size: 0.75rem;
  line-height: 1.2;
  height: 50px;
  overflow-y: auto;
}

.product-description {
  font-size: 0.75rem;
  line-height: 1.2;
  height: 150px;
  overflow-y: auto;
}

.product-price {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
