.product-image {
  height: 35%;
  object-fit: contain;
  margin-bottom: 10px;
}

.cart-product-image {
  width: 60px;
  flex-shrink: 0;
}

.cart-product-image img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin: 0;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-description {
  font-size: 0.75rem;
  line-height: 1.2;
}

.product-price {
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
